@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");
/* Media Queries */
svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin-top: -0.8rem;
}
@media (max-width: 360px), (max-width: 600px) {
  svg {
    width: 50px;
  }
}
svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}
svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

#checkbox {
  display: none;
}

#checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #ee3287;
  animation: animateHeart 0.3s linear forwards 0.25s;
}
#checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}
#checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  overflow-y: hidden;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

section {
  position: relative;
  width: 100%;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #15676B;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  height: 3px;
}

.header {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0.8rem 3rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .header {
    padding: 0.5rem 0.5rem;
  }
}
.header::after {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: rgba(21, 103, 107, 0.2);
}
@media (max-width: 360px), (max-width: 600px) {
  .header::after {
    bottom: 0%;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.header__box {
  flex: 1;
  height: 10vh;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__box:first-child {
    display: none;
  }
}
.header__box:not(:first-child) {
  margin-left: 1rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__box:not(:first-child) {
    margin-left: 0rem;
  }
}
.header__logo {
  width: 20%;
  margin-right: 1.5rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__logo {
    width: 50%;
    margin-top: 0.3rem;
  }
}
.header__searchBox {
  display: inline-block;
  position: relative;
}
.header__search {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-family: inherit;
  font-size: 0.8rem;
  width: 250px;
  height: 37px;
  padding: 0.7rem;
  outline: none;
  color: #404040;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__search {
    display: none;
  }
}
.header__ul {
  list-style: none;
  text-align: center;
}
.header__li {
  display: inline-block;
  margin: 0rem 2rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__li:nth-child(even) {
    display: none;
  }
}
@media (max-width: 360px), (max-width: 600px) {
  .header__li {
    margin: 0rem 0.5rem;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0.3rem 0.2rem;
    border: 1px solid rgba(21, 103, 107, 0.2);
  }
}
.header__link {
  color: #404040;
  transition: all 0.4s ease-in-out;
}
.header__link .bx,
.header__link .fa {
  font-size: 1.5rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__link .bx,
.header__link .fa {
    font-size: 1.5rem;
  }
}
@media (max-width: 360px), (max-width: 600px) {
  .header__link .bx:nth-child(2),
.header__link .fa:nth-child(2) {
    display: none;
  }
}
.header__link:hover {
  color: #15676B;
}
.header__navigate {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-family: "Marcellus SC", serif;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__navigate {
    display: none;
  }
}
.header__user75864 {
  margin: 0rem 0.5rem;
  display: inline-block;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__user75864 {
    display: none;
  }
}
.header__i87ysgd5vs {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(21, 103, 107, 0.2);
  padding: 0.3rem 0.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__i87ysgd5vs {
    width: 35px;
    height: 35px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
.header__i87ysgd5vs .bx,
.header__i87ysgd5vs .fa {
  font-size: 1.7rem;
  position: relative;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__i87ysgd5vs .bx,
.header__i87ysgd5vs .fa {
    font-size: 1.5rem;
  }
}
.header__i87ysgd5vs .bxs-wallet:first-child:hover::after {
  display: block;
}
.header__i87ysgd5vs .bxs-wallet:first-child::after {
  content: "Wallet";
  position: absolute;
  bottom: -150%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.header__i87ysgd5vs .bxs-bell:hover::after {
  display: block;
}
.header__i87ysgd5vs .bxs-bell::after {
  content: "Notifications";
  position: absolute;
  bottom: -150%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.header__8uhfnfy47 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #15676B;
  margin: 0rem 1rem;
  display: inline-block;
}
@media (max-width: 360px), (max-width: 600px) {
  .header__8uhfnfy47 {
    width: 35px;
    height: 35px;
  }
}
.header__8uhfnfy47 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.header__username {
  font-size: 1.1rem;
  color: #404040;
  font-family: "Marcellus SC", serif;
  font-weight: 700;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 360px), (max-width: 600px) {
  .main {
    padding: 1.1rem 0.5rem;
  }
}
.main__wrapper {
  height: 100%;
  padding: 1rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__wrapper {
    padding: 0rem;
  }
}
.main__wrapper:first-child {
  flex-basis: 25%;
  border: 1px solid rgba(21, 103, 107, 0.2);
  border-radius: 5px;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__wrapper:first-child {
    display: none;
  }
}
.main__wrapper:nth-child(even) {
  flex-basis: 48%;
  height: 100vh;
  padding-bottom: 8rem;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__wrapper:nth-child(even) {
    flex-basis: 100%;
    padding-bottom: 5rem;
  }
}
.main__wrapper:nth-child(even):hover::-webkit-scrollbar {
  width: 8px;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__wrapper:nth-child(even):hover::-webkit-scrollbar {
    display: none;
  }
}
.main__wrapper:nth-child(even) div {
  white-space: normal;
}
.main__wrapper:last-child {
  flex-basis: 25%;
  height: 100vh;
  border-radius: 5px;
  padding-bottom: 8rem;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__wrapper:last-child {
    display: none;
  }
}
.main__wrapper:last-child div {
  white-space: normal;
}
.main__wrapper:last-child:hover::-webkit-scrollbar {
  width: 8px;
}
.main__wrapper:not(:first-child) {
  margin-left: 0.5rem;
}
.main__img652e {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main__user98hddg6 {
  font-size: 1rem;
  color: #252525;
  font-family: "Marcellus SC", serif;
  font-weight: 600;
  margin: 0.5rem 0rem;
}
.main__674bbudi {
  font-size: 0.9rem;
  color: #252525;
  font-weight: 800;
}
.main__items {
  margin-top: 1.8rem;
}
.main__item:not(:first-child) {
  margin-top: 0.5rem;
}
.main__link {
  color: #252525;
}
.main__circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(21, 103, 107, 0.2);
  display: inline-block;
  padding: 0.3rem 0.4rem;
}
.main__circle .bx,
.main__circle .fa {
  font-size: 1.6rem;
  color: #15676B;
}
.main__navigate {
  font-size: 0.9rem;
  font-weight: 400;
  color: #252525;
  font-family: "Marcellus SC", serif;
  margin-left: 0.5rem;
}
.main__76539dol, .main__89wt65 {
  display: flex;
  justify-content: space-between;
}
.main__74dbdufr {
  margin-bottom: 0.6rem;
}
.main__74dbdufr .fa {
  position: relative;
  font-size: 1.1rem;
  color: #252525;
  margin-right: 0.9rem;
}
.main__74dbdufr .fa:hover::after {
  display: block;
}
.main__74dbdufr .fa::after {
  content: "Options";
  position: absolute;
  bottom: -150%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__74dbdufr:not(:first-child) {
  text-align: right;
}
.main__74dbdufr:not(:first-child) .fa {
  cursor: pointer;
}
.main__title47ydh {
  font-size: 0.8rem;
  font-weight: 500;
  color: #252525;
  margin-top: -2rem;
  display: inline-block;
}
.main__img57t2f {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}
.main__details9862g {
  flex-basis: 90%;
  margin-left: 1rem;
  margin-top: 0.2rem;
}
.main__name56gvg {
  font-size: 0.9rem;
  color: #252525;
  font-weight: 700;
}
.main__76gbwt57 {
  font-size: 0.7rem;
  color: #404040;
  font-weight: 500;
  margin: 0.8rem 0rem;
}
.main__line {
  width: 100%;
  height: 1px;
  background-color: rgba(21, 103, 107, 0.2);
  margin: 1.2rem 0rem;
}
.main__8bdgt62 {
  font-size: 1rem;
  font-weight: 600;
  color: #252525;
  margin-bottom: 1.2rem;
}
.main__8j5431v {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.main__8j5431v:hover {
  background-color: rgba(21, 103, 107, 0.2);
}
.main__0wjuwt6227 {
  height: 100%;
}
.main__0wjuwt6227:first-child {
  flex-basis: 35%;
}
.main__0wjuwt6227:last-child {
  flex-basis: 62%;
  margin-left: 1rem;
  padding-top: 8%;
}
.main__0wjuwt6227 p {
  font-size: 0.85rem;
  font-weight: 600;
  color: #252525;
  margin-bottom: 0.3rem;
}
.main__0wjuwt6227 a {
  color: #404040;
  font-size: 0.8rem;
}
.main___sp09h6232 {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}
.main__uygevgs65 {
  display: flex;
  justify-content: space-between;
}
.main__h724fhi .bx,
.main__h724fhi .fa {
  font-size: 1.2rem;
  color: #252525;
  position: relative;
  cursor: pointer;
}
.main__h724fhi .bx:first-child:hover::after {
  display: block;
}
.main__h724fhi .bx:first-child::after {
  content: "Video";
  position: absolute;
  bottom: -150%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__h724fhi .bx:nth-child(2):hover::after {
  display: block;
}
.main__h724fhi .bx:nth-child(2)::after {
  content: "Call";
  position: absolute;
  bottom: -150%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__h724fhi .bx:nth-child(3):hover::after {
  display: block;
}
.main__h724fhi .bx:nth-child(3)::after {
  content: "Search";
  position: absolute;
  bottom: -150%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__h724fhi .bx:not(:first-child) {
  margin-left: 1rem;
}
.main__h724fhi .fa {
  margin-left: 1rem;
}
.main__h724fhi .fa:hover::after {
  display: block;
}
.main__h724fhi .fa::after {
  content: "Options";
  position: absolute;
  bottom: -150%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__73ybdg62 {
  margin-top: 0.7rem;
}
.main__8t55yh9 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}
.main__8t55yh9:hover {
  background-color: rgba(21, 103, 107, 0.2);
  border-radius: 5px;
}
.main__8t55yh9:not(:first-child) {
  margin-top: 0.1rem;
}
.main__8t55yh9 img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.main__yrevsju654 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #404040;
  margin-left: 1rem;
  margin-top: 0.2rem;
}
.main__6yd54f7 {
  position: relative;
}
.main__837hh8 {
  position: absolute;
  bottom: 10%;
  right: -8%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #15676B;
}
.main__yt6368hdu9 {
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__yt6368hdu9 {
    padding-bottom: 0rem;
  }
}
.main__yt6368hdu9::-webkit-scrollbar {
  height: 0px;
}
.main__yt6368hdu9::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.main__yt6368hdu9::-webkit-scrollbar-thumb {
  background: #15676B;
  border-radius: 10px;
}
.main__yt6368hdu9::-webkit-scrollbar-button {
  height: 3px;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__feeds862gb {
    width: 15%;
  }
}
.main__feeds862gb:not(:first-child) {
  margin-left: 1.2rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__feeds862gb:not(:first-child) {
    margin-left: 1rem;
  }
}
.main__7eh8ejdhf {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1.5rem 0rem;
  padding: 1rem;
  background-color: rgba(21, 103, 107, 0.05);
  border-radius: 5px;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__7eh8ejdhf {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem 0rem;
  }
}
.main__78hdhd6d5:first-child {
  display: flex;
  justify-content: flex-start;
}
.main__78hdhd6d5:last-child {
  display: flex;
  justify-content: center;
}
.main__78hdhd6d5 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main__7wg5797:not(:first-child) {
  width: 90%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.07);
  margin-left: 1.6rem;
  border-radius: 24px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__7wg5797:not(:first-child) {
    padding: 0.7rem;
    font-size: 0.7rem;
  }
}
.main__7dydge689 {
  margin: 0rem 2rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__7dydge689 {
    margin: 0rem 0.6rem;
  }
}
.main__7dydge689 .bx {
  font-size: 1.6rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__7dydge689 .bx {
    font-size: 1.2rem;
  }
}
.main__7dydge689 .bxs-video-plus {
  color: #EE3287;
}
.main__7dydge689 .bxs-photo-album {
  color: #15676B;
}
.main__7dydge689 .bxs-rocket {
  color: #F4670C;
}
.main__7dydge689 a {
  font-size: 0.9rem;
  font-weight: 600;
  color: #404040;
  margin-left: 0.6rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__7dydge689 a {
    font-size: 0.7rem;
  }
}
.main__64hue54f:not(:first-child) {
  margin-top: 3rem;
}
.main__87hgs5fu8 {
  display: flex;
  justify-content: space-between;
}
.main__87hgs5fu8 .fa-ellipsis-v {
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  padding-top: 1rem;
}
.main__87hgs5fu8 .fa-ellipsis-v:hover::after {
  display: block;
}
.main__87hgs5fu8 .fa-ellipsis-v::after {
  content: "Options";
  position: absolute;
  top: -15%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__7hbs58j290 {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.main__82jhyd67 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #15676B;
}
.main__7hb7s5g28:not(:first-child) {
  padding: 0.4rem 1.3rem;
}
.main__8hw642fw {
  font-size: 0.9rem;
  color: #252525;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.main__8hw642fw a {
  color: #252525;
}
.main__2ne772679 {
  font-size: 0.7rem;
  font-weight: 300;
}
.main__8hws653 {
  margin: 1.2rem 0rem;
}
.main__872hd589 {
  font-size: 0.8rem;
  color: #404040;
  font-weight: 400;
  line-height: 1.2rem;
}
.main__7hhd43 {
  height: 70%;
  display: flex;
  justify-content: center;
}
.main__7hhd43 img {
  width: 50%;
  object-fit: cover;
}
.main__7sf43a4 {
  margin: 1.5rem 0rem;
  display: flex;
  justify-content: space-between;
}
.main__9js775s6:first-child {
  display: flex;
  justify-content: flex-start;
}
.main__9js775s6 .fa,
.main__9js775s6 .bx {
  font-size: 1.8rem;
  color: #252525;
  position: relative;
  cursor: pointer;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__9js775s6 .fa,
.main__9js775s6 .bx {
    font-size: 1.3rem;
  }
}
.main__9js775s6 .fa:hover::after {
  display: block;
}
.main__9js775s6 .fa::after {
  position: absolute;
  bottom: -100%;
  left: 2%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__9js775s6 .fa:nth-child(1)::after {
  content: "Like";
}
.main__9js775s6 .fa:nth-child(2)::after {
  content: "Comment";
}
.main__9js775s6 .fa:nth-child(3)::after {
  content: "Share";
}
.main__9js775s6 .fa:not(:first-child) {
  margin-left: 1.5rem;
}
.main__9js775s6 .bx:hover::after {
  display: block;
}
.main__9js775s6 .bx::after {
  content: "Download";
  position: absolute;
  bottom: -100%;
  left: 2%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.main__7hsg599:not(:first-child) {
  margin-left: 1rem;
}
.main__7y5s3et {
  margin-top: -1rem;
}
.main__7y5s3et textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #252525;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  font-family: inherit;
  padding: 1.7rem 0rem;
  outline: none;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__7y5s3et textarea {
    padding: 1.6rem 0rem;
  }
}
.main__7y5s3et textarea::-webkit-scrollbar {
  display: none;
}
.main__li98g456 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.main__72g5s5fy8 {
  font-size: 0.9rem;
  font-weight: 500;
}
@media (max-width: 360px), (max-width: 600px) {
  .main__72g5s5fy8 {
    font-size: 0.8rem;
  }
}
.main__yh67whhe77 {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #15676B;
  border-radius: 50%;
  padding-top: 0.8rem;
  position: fixed;
  bottom: 1%;
  right: 2%;
  cursor: pointer;
}
.main__yh67whhe77 .bx {
  font-size: 1.7rem;
  color: #FFFFFF;
  position: relative;
}
.main__yh67whhe77 .bx:hover::after {
  display: block;
}
.main__yh67whhe77 .bx::after {
  content: "New Message";
  position: absolute;
  top: -50%;
  left: -450%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  color: #252525;
  transition: all 0.5s ease-in-out;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -2.1rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .container {
    padding: 1.1rem 0.5rem;
    margin-top: 0rem;
  }
}
@media (max-width: 360px), (max-width: 600px) {
  .container__wrapper {
    padding: 0rem;
  }
}
@media (max-width: 360px), (max-width: 600px) {
  .container__wrapper:first-child {
    display: none;
  }
}
@media (max-width: 360px), (max-width: 600px) {
  .container__wrapper:last-child {
    display: none;
  }
}
.container__wrapper:nth-child(even) {
  position: relative;
  flex-basis: 67%;
  height: 100vh;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 8rem;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__wrapper:nth-child(even) {
    flex-basis: 100%;
    padding-bottom: 5rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.container__wrapper:nth-child(even)::-webkit-scrollbar {
  width: 8px;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__wrapper:nth-child(even)::-webkit-scrollbar {
    display: none;
  }
}
.container__wrapper:nth-child(even) div {
  white-space: normal;
}
.container__7y667h227h {
  width: 100%;
  position: relative;
}
.container__7y667h227h img {
  width: 100%;
  height: 40vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  object-fit: cover;
  -o-object-fit: cover;
}
.container__8366ybr68 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__8366ybr68 {
    flex-direction: column;
  }
}
.container__836trbd73:first-child {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__836trbd73:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.container__836trbd73:last-child {
  padding-top: 4rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__836trbd73:last-child {
    padding-top: 2rem;
    text-align: center;
  }
}
.container__83eye6738 {
  position: relative;
}
.container__83eye6738:not(:first-child) {
  padding-top: 1rem;
}
.container__83eye6738:not(:last-child) {
  margin-top: -4rem;
  z-index: 1000;
  margin-right: 1.3rem;
}
.container__072dhd628 {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  border: 4px solid #15676B;
  transform: rotateZ(-19deg);
}
@media (max-width: 360px), (max-width: 600px) {
  .container__072dhd628 {
    width: 180px;
    height: 180px;
  }
}
.container__376u937h {
  font-size: 1.7rem;
  color: #252525;
  font-weight: 700;
  font-family: "Marcellus SC", serif;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__376u937h {
    font-size: 1.3rem;
  }
}
.container__37hygtu {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.4rem;
}
.container__673hh67he {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.4rem;
}
.container__row8375gf7 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container__6g728hw9 {
  margin-top: 1rem;
  position: relative;
}
.container__637467rhf8 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__637467rhf8 {
    flex-direction: column;
  }
}
.container__63gd872j:not(:last-child) {
  flex-basis: 40%;
  height: 100%;
  margin-right: 1rem;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__63gd872j:not(:last-child) {
    flex-basis: 100%;
  }
}
.container__63gd872j:not(:first-child) {
  flex-basis: 58%;
  height: 100%;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__63gd872j:not(:first-child) {
    flex-basis: 100%;
    margin-top: 1rem;
  }
}
.container__673h8d90 {
  width: 100%;
  height: 100%;
  background-color: rgba(21, 103, 107, 0.05);
  border-radius: 5px;
  padding: 1rem;
}
.container__673h8d90 h2 {
  font-size: 1.2rem;
  color: #252525;
  font-weight: 700;
  margin-bottom: 0.8rem;
  font-family: "Marcellus SC", serif;
}
.container__673h8d90 p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #404040;
  line-height: 1.2rem;
}
.container__hsyw7728 {
  margin: 0rem;
}
.container__847gfrr9 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(21, 103, 107, 0.05);
}
.container__tey36738 .fa-ellipsis-v {
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  padding-top: 1rem;
}
.container__tey36738 .fa-ellipsis-v:hover::after {
  display: block;
}
.container__tey36738 .fa-ellipsis-v::after {
  content: "Options";
  position: absolute;
  top: -15%;
  left: 0%;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Marcellus SC", serif;
  color: #404040;
  background-color: rgba(21, 103, 107, 0.2);
  display: none;
  transition: all 0.5s ease-in-out;
}
.container__37hju8292 {
  margin-top: 1rem;
}
.container__72heue82 {
  margin-top: 0.8rem;
}
.container__72heue82 .bx {
  font-size: 1.2rem;
  color: #404040;
}
.container__72heue82 span {
  font-size: 0.8rem;
  color: #404040;
  margin-left: 0.8rem;
}
.container__637467rh54 {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40%;
  background-color: #15676B;
  border-radius: 5px;
  display: none;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__637467rh54 {
    width: 100%;
  }
}
.container___784hyr78r {
  display: block;
}
.container__7gt278j {
  padding: 0.5rem;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.container__7gt278j:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.container__7gt278j:nth-child(1), .container__7gt278j:nth-child(2), .container__7gt278j:nth-child(3), .container__7gt278j:nth-child(4) {
  display: none;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__7gt278j:nth-child(1), .container__7gt278j:nth-child(2), .container__7gt278j:nth-child(3), .container__7gt278j:nth-child(4) {
    display: block;
  }
}

.header__searchBtn {
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 50%;
  background-color: #15676B;
  outline: none;
  color: #FFFFFF;
  font-size: 1.1rem;
  padding-top: 0.3rem;
  position: absolute;
  top: 15%;
  right: 2%;
}

.main__btnwv46 {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-size: 0.9rem;
  font-family: "Marcellus SC", serif;
  font-weight: 700;
  background-color: #15676B;
  color: #FFFFFF;
}

.main__btnwv47 {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-family: "Marcellus SC", serif;
  font-weight: 700;
  background-color: rgba(21, 103, 107, 0.2);
  color: #404040;
  margin-left: 0.5rem;
}

.container__btn8et6d78 {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-size: 0.9rem;
  font-family: "Marcellus SC", serif;
  font-weight: 700;
  background-color: rgba(21, 103, 107, 0.2);
  color: #404040;
  margin-left: 0.5rem;
}
.container__btn8et6d78:not(:first-child) {
  background-color: rgba(21, 103, 107, 0.2);
}
.container__btn8et6d78:not(:last-child) {
  background-color: #15676B;
  color: #FFFFFF;
}

.container__u64748nf {
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Marcellus SC", serif;
  font-weight: 700;
  background-color: #15676B;
  color: #FFFFFF;
}

.container__46fpbpdju {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 35px;
  height: 35px;
  padding-top: 0.3rem;
  border-radius: 50%;
  font-size: 1.6rem;
  font-family: "Marcellus SC", serif;
  font-weight: 700;
  background-color: #15676B;
  color: #FFFFFF;
  z-index: 1500;
}

.container__btn748t5g6 {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: transparent;
  color: #404040;
  transition: all 0.1s ease-in-out;
}
.container__btn748t5g6:not(:first-child) {
  margin-left: 1rem;
}
.container__btn748t5g6:focus {
  border-bottom: 4px solid #15676B;
  color: #15676B;
}
@media (max-width: 360px), (max-width: 600px) {
  .container__btn748t5g6:nth-child(3), .container__btn748t5g6:nth-child(4), .container__btn748t5g6:nth-child(5), .container__btn748t5g6:nth-child(6) {
    display: none;
  }
}

.container__267dget7 {
  width: 100%;
  height: 100%;
  padding: 0.3rem 0rem;
  background-color: #15676B;
  color: #FFFFFF;
  font-size: 1.1rem;
  font-size: 600;
  font-family: "Marcellus SC", serif;
  margin: 0.5rem 0rem;
  border-radius: 5px;
}

.container__more728h7 {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #404040;
  transition: all 0.1s ease-in-out;
  background-color: rgba(21, 103, 107, 0.2);
}
.container__more728h7 .bx {
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
