* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

// html, body {
//   overflow-x: hidden;
// }

body {
  font-size: $default-size;
  font-family: $body-family;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

section {
  position: relative;
  width: 100%;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $fabaaw-green;
  border-radius: 10px;
}
